/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Monospace;
  letter-spacing: 2px;
  text-shadow: 1px 2px 4px rgba(11, 10, 10, 0.467);
}

p {
  margin-bottom: 1.5em;
}

#light {
  background-color: rgb(248, 245, 231);
  color: rgb(110, 74, 6);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 150vh;
}

#dark {
  background-color: rgb(16, 26, 31);
  color: rgb(246, 219, 39);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 150vh;
}

.color--box {
  width: 30px;
  height: 15px;
  border: 2px solid black;
  margin: 0%;
}

.title--main {
  margin-block-end: 0;
}

a:link {
  text-decoration: none;
  color: #237d6b;
}

a:visited {
  text-decoration: none;
  color: rgb(35, 125, 107);
}

a:hover {
  text-decoration: none;
  color: rgb(235, 103, 9);

}

a:active {
  text-decoration: none;
}

.note-delete,
.note-edit,
.note-read,
header {
  display: flex;
  justify-content: space-between;
}

.note-ed-buttons {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

#dark .note-edit {
  margin-right: 10px;
  font-size: 100%;
  color:rgb(233, 199, 8);
  background-color:rgb(53, 53, 53);
  box-shadow: 3px 2px 2px rgb(176, 158, 44);
}

#light .note-edit {
  margin-right: 10px;
  font-size: 100%;
  color:rgb(173, 149, 11);
  background-color:rgb(255, 250, 234);
  box-shadow: 3px 2px 2px rgb(176, 158, 44);
}

#dark .note-edit:hover {
  text-decoration: none;
  color: rgb(152, 132, 19);
  background-color:rgb(40, 39, 39);
}

#light .note-edit:hover {
  text-decoration: none;
  color: rgb(94, 81, 6);
  background-color:rgb(211, 207, 195);
}

#light .note-delete {
  font-size: 100%;
  color: rgb(254, 37, 25);
  background-color:rgb(255, 250, 234);
  box-shadow: 3px 2px 2px rgb(176, 44, 44);
}

#dark .note-delete {
  font-size: 100%;
  color: rgb(190, 47, 39);
  background-color:rgb(53, 53, 53);
  box-shadow: 3px 2px 2px rgb(176, 44, 44);
}

#light .note-delete:hover {
  text-decoration: none;
  color: rgb(113, 21, 16);
  background-color:rgb(211, 207, 195);
}

#dark .note-delete:hover {
  text-decoration: none;
  color: rgb(113, 21, 16);
  background-color:rgb(40, 39, 39);
}

#dark .btn {
  color: rgb(235, 103, 9);
  background-color:rgb(53, 53, 53);
  box-shadow: 3px 2px 2px rgb(176, 83, 44);
}

#light .btn {
  color: rgb(235, 103, 9);
  background-color:rgb(255, 250, 234);
  box-shadow: 3px 2px 2px rgb(176, 83, 44);
}

#dark .btn:hover {
  color: rgb(35, 125, 107);
  background-color:rgb(40, 39, 39);
}

#light .btn:hover {
  color: rgb(35, 125, 107);
  background-color:rgb(211, 207, 195);
}

.noteForm__create {
  color: rgb(235, 103, 9);
}

.noteForm__edit {
  color:rgb(213, 185, 26);
}

.notes--list {
  color: rgb(235, 103, 9);
}

.note-read {
  font-size: 120%;
}

.read-title {
  color: rgb(35, 125, 107);
  font-size: 30px;
}

textarea {
  resize: vertical;
  min-height: 20vw;
  max-height: 20vw;
  min-width: 45vw;
  max-width: 45vw;
}

.form-title {
  padding: 2%;
  min-width: none;
  max-width: 30vw;
}

article {
  min-width: 40vh;
  max-width: 40vh;
}

.home-container, .edit-container, .read-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.read-note {
  min-width: 61.5vh;
  max-width: 70vh;
}

/* .read-body {
  min-width: 40vh;
  max-width: 40vh;
  font-size: 18px;
  line-height: 1.5;
} */

.notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

fieldset {
  padding: 0%;
  margin: 0.5rem;
}

.switch-knob {
  box-shadow: 1px 2px 4px rgba(141, 26, 26, 0.614);
}

.switch-knob:hover {
  box-shadow: 3px 2px 4px rgba(244, 9, 9, 0.863);
}
