.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note {
    border: 1px solid rgb(235, 103, 9);
    padding: 0.7rem;
    margin: 0.5rem;
    color: rgb(235, 103, 9);
}