.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
}

.navbar__logout {
  margin-left: auto;
}

.navbar__logout {
  font-size: 200%;
  text-shadow: 1px 2px 4px rgb(238, 40, 40);
}

.navbar__logout:hover {
    font-size: 200%;
    text-shadow: 4px 4px 4px rgb(238, 40, 40);
  }

.navbar__home {
  font-size: 350%;
  text-shadow: 1px 2px 4px rgb(238, 40, 40);
}

.navbar__home:hover {
    font-size: 350%;
    text-shadow: 4px 4px 4px rgb(238, 40, 40);
  }