.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
}

.navbar__logout {
  margin-left: auto;
}

.navbar__logout {
  font-size: 200%;
}

.navbar__home {
  font-size: 350%;
}
